[submodule "app/src/main/cpp/readerwriterqueue"]
	path = app/src/main/cpp/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
[submodule "app/src/main/cpp/libusb"]
	path = app/src/main/cpp/libusb
	url = https://github.com/libusb/libusb
